In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
city_file_to_load = 'Resources/city_data.csv'
ride_file_to_load = 'Resources/ride_data.csv'
pyber_city_df = pd.read_csv(city_file_to_load)
pyber_ride_df = pd.read_csv(ride_file_to_load)

In [3]:
pyber_city_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [4]:
pyber_city_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [5]:
pyber_city_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [6]:
pyber_city_df[['city','driver_count','type']].isna().sum()

city            0
driver_count    0
type            0
dtype: int64

In [7]:
pyber_city_df['type'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [8]:
sum(pyber_city_df['type']=='Urban')

66

In [9]:
sum(pyber_city_df['type']=='Suburban')

36

In [10]:
sum(pyber_city_df['type']=='Rural')

18

In [11]:
pyber_ride_df.head()

                 city             date   fare       ride_id
0  Lake Jonathanshire  1/14/2019 10:14  13.83  5.739410e+12
1  South Michelleport   3/4/2019 18:24  30.24  2.343910e+12
2  Port Samanthamouth   2/24/2019 4:29  33.44  2.005070e+12
3          Rodneyfort  2/10/2019 23:22  23.44  5.149250e+12
4          South Jack    3/6/2019 4:28  34.58  3.908450e+12

In [12]:
pyber_ride_df.dtypes

city        object
date        object
fare       float64
ride_id    float64
dtype: object

In [18]:
pyber_ride_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [13]:
pyber_ride_df[['city','date','fare','ride_id']].isna().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [17]:
pyber_ride_df['city'].unique()

array(['Lake Jonathanshire', 'South Michelleport', 'Port Samanthamouth',
       'Rodneyfort', 'South Jack', 'South Latoya', 'New Paulville',
       'Simpsonburgh', 'South Karenland', 'North Jasmine',
       'New Kimberlyborough', 'West Angela', 'Roberthaven', 'North Jason',
       'Williamsview', 'Leahton', 'West Anthony', 'New Paulton',
       'West Patrickchester', 'Deanville', 'West Josephberg',
       'West Samuelburgh', 'West Heidi', 'Loganberg', 'Huntermouth',
       'Grahamburgh', 'Port Frank', 'East Kaylahaven', 'West Robert',
       'North Markport', 'Richardfort', 'Reynoldsfurt', 'Justinberg',
       'Martinezhaven', 'Jerryton', 'Lake Scottton', 'South Evanton',
       'Rogerston', 'West Ericstad', 'Hurleymouth', 'Joneschester',
       'Port Angela', 'Barajasview', 'West Christopherberg',
       'New Jacobville', 'Port David', 'Valentineton', 'Carriemouth',
       'Williamsstad', 'Royland', 'Karenberg', 'Christopherfurt',
       'Liumouth', 'Johnton', 'Erikaland', 'Raymondhaven', 'Karenside',
       'Lake Danielberg', 'South Phillip', 'North Madeline',
       'Port Johnbury', 'Robertport', 'Pattyland', 'Amandaburgh',
       'North Barbara', 'West Gabriel', 'Barronchester', 'East Kentstad',
       'Lake Omar', 'Myersshire', 'West Hannah', 'East Marymouth',
       'New Raymond', 'Lake Robertside', 'Josephside', 'Brandonfort',
       'Lewisland', 'North Richardhaven', 'New Olivia', 'New Shannonberg',
       'Nicolechester', 'Victoriaport', 'South Teresa', 'East Aaronbury',
       'Bethanyland', 'Lake Scott', 'North Jeffrey', 'Rodriguezview',
       'Sotoville', 'South Brenda', 'Port Shane', 'North Timothy',
       'Veronicaberg', 'Williamsonville', 'Lewishaven', 'Lake Ann',
       'Grayville', 'Colemanland', 'West Kimmouth', 'Mezachester',
       'Davidfurt', 'East Danielview', 'Randallchester', 'North Holly',
       'Michaelberg', 'Lake Latoyabury', 'Taylorhaven', 'Garzaport',
       'New Ryantown', 'Bradshawfurt', 'South Marychester', 'Jessicaport',
       'South Jennifer', 'South Saramouth', 'Lake Jamie', 'Newtonview',
       'North Jaime', 'Penaborough', 'Harringtonfort', 'West Heather'],
      dtype=object)

In [19]:
pyber_complete_df = pd.merge(pyber_ride_df,pyber_city_df,on=['city','city'],how='left')

In [20]:
pyber_complete_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban

In [21]:
pyber_complete_df.count()

city            2375
date            2375
fare            2375
ride_id         2375
driver_count    2375
type            2375
dtype: int64

In [23]:
pyber_complete_df.dtypes

city             object
date             object
fare            float64
ride_id         float64
driver_count      int64
type             object
dtype: object